/* 브랜드 장점 */
/* 전체 */
.brandinfo {
  background-color: #152a5e;
  background-color: #7082af;

  position: relative;
}
/* 라인 */
.brandinfo > svg {
  width: 80%;
  margin: 0 auto;
  display: block;
}
.line {
  fill: none;
  stroke: #ffec76;
  stroke-width: 16;
  stroke-miterlimit: 10;

}
/* 개요 */
.info_inner {
  color: #fff;
  position: relative;
 margin: 0 auto;
}
.info_inner ul {
  position: absolute;
  top: -1000px;
  left: 0;
  display: flex;
  justify-content: space-around;
  z-index: 9999;
}
.info_inner img {
  width: 400px;
}
.info_inner p {
  background-color: #ffec76;
}
