/* 브랜드 장점 */
.brandinfo {
  width: 100%;
  background-color: #0c2668;
  background: url("../images/brandInfo_back.svg") center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 300px;
}

.infoImg ul {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.infoImg img {
  width: 22vw;
  padding: 0 25px;
}

.infoTxt ul {
  display: flex;
  justify-content: center;
}
.infoTxt li {
  font-size: 1vw;
  text-align: center;
  padding: 0 25px;
  color: #fff;
}
.infoTxt span {
  color: #f2cf02;
  font-weight: 600;
}
.info_line {
  width: 5.2083vw;
  height: 0.1042vw;
  background-color: #fff;
  z-index: 999;
  display: block;
  margin: 1.5vw auto;
}
