/* 나에게 맞는 떡케이크 찾기 */
.choosecake {
  position: relative;
  display: block;
  width: 100%;
  min-height: 500px;
  background-color: #fff;
}
.game-stage {
  position: relative;
  display: block;
  width: 100%;
  z-index: 99;
}
/* 시작 화면 */
.game-stage-start {
  position: relative;
  display: block;
  width: 100%;
}
.choose-textwrap {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 1.717vw;
}
.choose-textwrap h2 {
  position: relative;
  display: block;
  font-size: 1.823vw;
  font-weight: bold;
  font-family: "HANAMDAUM";
  /* font-family: "SeoulHangangM"; */
}
.game-stage-start .choose-textwrap span {
  position: relative;
  display: block;
  margin: 1.146vw 0;
  font-size: 1.042vw;
}
.bt-game-start {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 6.823vw;
  height: 2.491vw;
  line-height: 2.491vw;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  font-size: 1.042vw;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in 0.2s;
}
.bt-game-start:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
}
.choose-ricecake {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.choose-cakeA {
  position: relative;
  display: inline-block;
  width: 26.042vw;
  height: 31.875vw;
  border-radius: 1.302vw;
  margin-right: 4.167vw;
  background: url("../images/choose-cakeA.jpg") no-repeat center;
  background-size: cover;
}
.choose-cakeB {
  position: relative;
  display: inline-block;
  width: 26.042vw;
  height: 31.875vw;
  border-radius: 1.302vw;
  background: url("../images/choose-cakeB.jpg") no-repeat center;
  background-size: cover;
}
/* 게임 중 화면 */
.game-stage-view {
  position: relative;
  width: 100%;
  display: none;
}
/* 게임 레벨 보이고, 숨기기 */
.game-stage-view .game-level {
  position: relative;
  width: 100%;
  display: none;
}
.choose-textwrap div:not(.choose-btn) {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 8.333vw;
  height: 2.604vw;
  line-height: 2.604vw;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  font-size: 1.042vw;
  font-weight: bold;
}
.game-stage-view .choose-textwrap span {
  position: relative;
  display: block;
  margin: 2.344vw 0;
  font-size: 1.458vw;
  font-weight: bold;
}
.choose-cake-btn {
  position: relative;
  width: 26.042vw;
  height: 31.875vw;
  border-radius: 15px;
  background-color: #fff;
  border: 4px solid #d6d6d6;
  cursor: pointer;
  transition: all ease-in;
}
.choose-cake-btn:hover {
  border: 4px solid #ffec76;
}
.choose-cake-btn:first-child {
  margin-right: 4.167vw;
}
.choose-cake-btn img {
  position: absolute;
  display: block;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
}
.choose-cake-btn p {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6vw;
  font-weight: bold;
  white-space: nowrap;
}
/* 게임 결과 화면 */
.game-stage-result {
  position: fixed;
  display: block;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
.game-stage-result-active {
  left: 0% !important;
}
.game-result-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45.6vw;
  height: 40vw;
  padding: 2.083vw 2.083vw;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.game-result-inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.game-stage-result .game-result-close {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  font-size: 1.719vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 99;
}
.game-stage-result .choose-textwrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.game-stage-result .choose-textwrap div:not(.choose-btn, #game-result-html) {
  position: absolute;
  display: block;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 8.333vw;
  height: 2.604vw;
  line-height: 2.604vw;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
}
.game-stage-result .choose-textwrap span {
  position: absolute;
  display: block;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.146vw;
  font-weight: bold;
  white-space: nowrap;
}
.game-stage-result .choose-textwrap #game-result-html {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.game-stage-result #game-result-html img {
  position: absolute;
  display: block;
  top: 21%;
  left: 50%;
  transform: translateX(-50%);
  width: 16.6vw;
}
.game-stage-result #game-result-html p {
  position: absolute;
  display: block;
  top: 73%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.406vw;
  font-weight: bold;
  color: #000;
}
.game-stage-result .choose-textwrap .choose-btn {
  position: absolute;
  display: block;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.choose-btn button {
  display: inline-block;
  width: 8.854vw;
  height: 3.385vw;
  border-radius: 5px;
  font-size: 0.99vw;
  font-weight: bold;
  cursor: pointer;
  color: #1c1f1e;
  border: 1px solid #1c1f1e;
  background-color: transparent;
  transition: 0.2s ease-out;
}
.choose-btn button:hover {
  color: #fff;
  background-color: #1c1f1e;
}
.choose-btn button:first-child {
  margin-right: 0.521vw;
}

@media all and (max-width: 1080px) {
  .choose-textwrap {
    margin-bottom: 2.344vw;
  }
  .choose-textwrap h2 {
    font-size: 2.083vw;
  }
  .game-stage-start .choose-textwrap span {
    font-size: 1.302vw;
    margin: 1.563vw 0;
  }
  .bt-game-start {
    width: 7.031vw;
    height: 2.708vw;
    line-height: 2.708vw;
    font-size: 1.302vw;
  }
  .choose-cakeA {
    width: 29.167vw;
    height: 35vw;
    margin-right: 4.167vw;
  }
  .choose-cakeB {
    width: 29.167vw;
    height: 35vw;
  }
  .choose-textwrap div:not(.choose-btn) {
    width: 12.037vw;
    height: 3.241vw;
    line-height: 3.241vw;
    font-size: 1.389vw;
  }
  .game-stage-view .choose-textwrap span {
    font-size: 1.759vw;
    margin: 2.593vw 0;
    font-weight: bold;
  }
  .choose-cake-btn {
    width: 29.167vw;
    height: 35vw;
  }
  .choose-cake-btn p {
    font-size: 1.852vw;
  }
  .game-result-wrap {
    width: 50.926vw;
    height: 44.444vw;
    padding: 2.5vw 2.5vw;
  }
  .game-stage-result .game-result-close {
    font-size: 2.037vw;
  }
  .game-stage-result .choose-textwrap div:not(.choose-btn, #game-result-html) {
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 11.111vw;
    height: 3.056vw;
    line-height: 3.056vw;
  }
  .game-stage-result .choose-textwrap span {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.296vw;
  }
  .game-stage-result #game-result-html img {
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    width: 17.315vw;
  }
  .game-stage-result #game-result-html p {
    top: 71%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.667vw;
  }
  .game-stage-result .choose-textwrap .choose-btn {
    position: absolute;
    display: block;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }
  .choose-btn button {
    width: 10.185vw;
    height: 3.704vw;
    font-size: 1.204vw;
  }
}
@media all and (max-width: 960px) {
  .choose-textwrap {
    margin-bottom: 2.604vw;
  }
  .game-stage-start .choose-textwrap span {
    margin: 1.875vw 0;
  }
  .bt-game-start {
    width: 6.406vw;
    height: 2.491vw;
    line-height: 2.491vw;
    font-size: 1.25vw;
  }
  .game-stage-result .game-result-close {
    font-size: 2.292vw;
  }
  .game-stage-result .choose-textwrap span {
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.296vw;
  }
  .game-stage-result #game-result-html img {
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 17.315vw;
  }
  .game-stage-result #game-result-html p {
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.667vw;
  }
  .choose-btn button {
    width: 10.417vw;
    height: 3.704vw;
    font-size: 1.204vw;
  }
}
@media all and (max-width: 720px) {
  .choose-textwrap {
    margin-bottom: 3.056vw;
  }
  .choose-textwrap h2 {
    font-size: 2.361vw;
  }
  .game-stage-start .choose-textwrap span {
    font-size: 1.667vw;
    margin: 2.222vw 0;
  }
  .bt-game-start {
    width: 7.778vw;
    height: 3.056vw;
    line-height: 3.056vw;
    font-size: 1.389vw;
  }
  .choose-cakeA {
    width: 27.778vw;
    height: 35.417vw;
    margin-right: 4.861vw;
  }
  .choose-cakeB {
    width: 27.778vw;
    height: 35.417vw;
  }
  .choose-textwrap div:not(.choose-btn) {
    width: 13.194vw;
    height: 3.889vw;
    line-height: 3.889vw;
    font-size: 1.806vw;
  }
  .game-stage-view .choose-textwrap span {
    font-size: 1.759vw;
    margin: 3.194vw 0;
  }
  .choose-cake-btn {
    width: 29.167vw;
    height: 36.389vw;
  }
  .choose-btn button {
    font-size: 1.111vw;
  }
  .game-result-wrap {
    width: 62.5vw;
    height: 52.778vw;
    padding: 2.778vw 2.778vw;
  }
  .game-stage-result .game-result-close {
    font-size: 2.778vw;
  }
  .game-stage-result .choose-textwrap div:not(.choose-btn, #game-result-html) {
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 12.5vw;
    height: 3.889vw;
    line-height: 3.889vw;
  }
  .game-stage-result .choose-textwrap span {
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.944vw;
  }
  .game-stage-result #game-result-html img {
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
    width: 20.833vw;
  }
  .game-stage-result #game-result-html p {
    top: 71%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.083vw;
  }
  .game-stage-result .choose-textwrap .choose-btn {
    position: absolute;
    display: block;
    top: 87%;
    left: 50%;
    transform: translateX(-50%);
  }
  .choose-btn button {
    width: 12.5vw;
    height: 3.704vw;
    font-size: 1.204vw;
  }
}
@media all and (max-width: 480px) {
  .choose-textwrap {
    margin-bottom: 6.25vw;
  }
  .game-stage-start .choose-textwrap span {
    margin: 3.646vw 0;
    font-size: 2.708vw;
  }
  .choose-textwrap h2 {
    font-size: 4.167vw;
  }
  .bt-game-start {
    width: 18.75vw;
    height: 7.5vw;
    line-height: 7.5vw;
    font-size: 3.125vw;
  }
  .bt-game-start:active {
    background-color: #fff;
    color: #000;
  }
  .choose-cakeA {
    display: block;
    width: 72.917vw;
    height: 37.5vw;
    margin-right: 0;
    margin-bottom: 6.25vw;
  }
  .choose-cakeB {
    display: block;
    width: 72.917vw;
    height: 37.5vw;
  }
  .choose-textwrap div:not(.choose-btn) {
    width: 22.917vw;
    height: 7.5vw;
    line-height: 7.5vw;
    font-size: 3.125vw;
  }
  .game-stage-view .choose-textwrap span {
    font-size: 3.125vw;
    margin: 5.625vw 0;
  }
  .choose-cake-btn {
    position: relative;
    width: 72.917vw;
    height: 37.5vw;
    margin-bottom: 8.333vw;
  }
  .choose-cake-btn:first-child {
    margin-right: 0;
  }
  .choose-cake-btn:last-child {
    margin-bottom: 0;
  }
  .choose-cake-btn p {
    position: absolute;
    bottom: 50%;
    left: 55%;
    transform: translateY(50%);
    font-size: 2.3vw;
  }
  .choose-cake-btn img {
    position: absolute;
    display: block;
    top: 50%;
    left: 13%;
    transform: translateY(-50%);
    height: auto;
    scale: 1.2;
  }
  .game-result-wrap {
    width: 71.667vw;
    height: 65.208vw;
    padding: 4.167vw 4.167vw;
  }
  .game-stage-result .game-result-close {
    font-size: 3.125vw;
  }
  .game-stage-result .choose-textwrap div:not(.choose-btn, #game-result-html) {
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 14.583vw;
    height: 4.167vw;
    line-height: 4.167vw;
    font-size: 2.5vw;
  }
  .game-stage-result .choose-textwrap span {
    top: 16%;
    font-size: 2.5vw;
  }
  .game-stage-result #game-result-html img {
    top: 27%;
    width: 22.917vw;
  }
  .game-stage-result #game-result-html p {
    font-size: 2.708vw;
  }
  .choose-btn button {
    width: 17.292vw;
    height: 4.792vw;
    font-size: 1.204vw;
  }
}
