/* 콜라보 떡케이크 (주문제작 & 원데이클래스) */
.collabo {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
}
.collabo-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0 5%;
}
.collabo-box {
  width: 100%;
  max-width: 430px;
}
.collabo-img {
  position: relative;
  width: 100%;
  height: 85%;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 25%);
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.collabo-left {
  background-color: #98cbea;
}
.collabo-right {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../images/creamyhouse_cake01.jpg");
  background-size: cover;
  background-position: center;
}
.collabo-img p {
  position: relative;
  display: block;
  font-size: 18px;
}
.collabo-img p:first-child {
  display: inline-block;
}
.collabo-img img {
  position: relative;
  display: block;
}
.collabo-img img:nth-child(2) {
  position: relative;
  display: inline-block;
  width: 110px;
  margin-left: 5px;
}
.collabo-img img:nth-child(3) {
  max-width: 84%;
  margin: 0 auto;
}
.collabo-textwrap {
  position: relative;
  display: block;
}
.collabo-textwrap p {
  font-size: 15px;
  font-weight: normal;
}
.collabo-textwrap strong {
  color: #22459b;
}
.collabo-textwrap p strong {
  font-size: 18px;
  font-weight: bold;
}
.collabo-textwrap h2 {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 1.3;
  margin-top: 10px;
}
.collabo-textwrap h2 strong::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: -7%;
  left: 43%;
  border-radius: 50%;
  background-color: #22459b;
}
.collabo-textwrap h2 strong:nth-child(2)::after {
  top: -7%;
  left: 49.4%;
}
.collabo-img img:nth-child(5) {
  position: absolute;
  display: block;
  max-width: 47%;
  top: -10%;
  right: -15%;
  transform: rotate(8deg);
}
.collabo-img img:nth-child(6) {
  position: absolute;
  display: block;
  max-width: 40%;
  bottom: 0%;
  left: -12%;
}
.collabo-img img:nth-child(7) {
  position: absolute;
  display: block;
  max-width: 21%;
  bottom: 27%;
  left: -2%;
}
.collabo-img.collabo-right img {
  width: 70px;
  margin-top: -8px;
}
.collabo-img.collabo-right .collabo-textwrap {
  margin: 34% 0;
}
.collabo-img.collabo-right .collabo-textwrap p {
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
.collabo-img.collabo-right .collabo-textwrap p strong {
  font-weight: bold;
  color: #ffdc0c;
}
.collabo-img.collabo-right .collabo-textwrap h2 {
  margin-top: 27px;
  font-size: 26px;
  line-height: 1.3;
}
.collabo-img.collabo-right p:last-child {
  font-size: 23px;
  font-weight: bold;
}
.collabo-btn {
  position: relative;
  display: block;
  width: 190px;
  height: 42px;
  line-height: 42px;
  margin: 3.333vw auto 0;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 25%);
  transition: all ease-in 0.1s;
}
.collabo-btn i {
  padding-left: 5px;
}
.collabo-box:first-child .collabo-btn {
  background-color: #f2cf02;
}
.collabo-box:first-child .collabo-btn:hover {
  background-color: #ceaf03;
}
.collabo-box:last-child .collabo-btn {
  background-color: #0c2668;
}
.collabo-box:last-child .collabo-btn:hover {
  background-color: #00164d;
}

@media all and (max-width: 1024px) {
  .collabo-wrap {
    margin: 0 30px;
  }
  .collabo-box {
    width: 100%;
  }
}
@media all and (max-width: 960px) {
  .collabo-img {
    height: 80%;
    padding: 40px;
  }
  .collabo-img img:nth-child(2) {
    width: 105px;
  }
  .collabo-img img:nth-child(3) {
    max-width: 67%;
    width: 72%;
    max-width: 220px;
  }
  .collabo-textwrap p {
    font-size: 13px;
  }
  .collabo-textwrap h2 {
    font-size: 21px;
  }
  .collabo-img img:nth-child(5) {
    max-width: 42%;
    right: -13%;
  }
  .collabo-img img:nth-child(6) {
    max-width: 35%;
  }
  .collabo-img img:nth-child(7) {
    max-width: 18%;
  }
  .collabo-img.collabo-right .collabo-textwrap {
    margin: 22% 0;
  }
  .collabo-img.collabo-right .collabo-textwrap p {
    font-size: 12px;
  }
  .collabo-textwrap p strong {
    font-size: 16px;
  }
  .collabo-right .collabo-textwrap p strong {
    display: block;
  }
  .collabo-img.collabo-right .collabo-textwrap h2 {
    font-size: 22px;
  }
  .collabo-img.collabo-right p:last-child {
    font-size: 21px;
  }
  .collabo-img p {
    font-size: 14px;
  }
  .collabo-img.collabo-right img {
    width: 65px;
    margin-top: -10px;
  }
}
@media all and (max-width: 768px) {
  .collabo-wrap {
    flex-wrap: wrap;
  }
  .collabo-box {
    width: 100%;
    max-width: 450px;
    margin-bottom: 45px;
  }
  .collabo-box:last-child {
    margin-bottom: 0;
  }
  .collabo-img {
    height: 85%;
  }
  .collabo-right .collabo-textwrap p strong {
    display: inline-block;
  }
  .collabo-img img:nth-child(5) {
    max-width: 35%;
    right: -4%;
  }
}
@media all and (max-width: 480px) {
  .collabo-box {
    margin-bottom: 50px;
  }
  .collabo-img {
    height: 88%;
  }
  .collabo-img.collabo-right .collabo-textwrap {
    margin: 26% 0;
  }
  .collabo-img img:nth-child(5) {
    max-width: 35%;
    right: -5%;
  }
}
