/* 하단 */
/*Auther: Abdelrhman Said*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.footer {
  position: relative;
  display: block;
  background: url("../images/footer-bg.png") no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 300px;
  background-color: #0c2668;
}
/* sns 아이콘 */
.sns-icon {
  position: absolute;
  display: block;
  top: -40px;
  left: 50%;
  transform: translate(-50%);
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  display: block;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}

.footer-logo {
  position: absolute;
  display: block;
  width: 200px;
  top: 37%;
  left: 280px;
}

.footer-menu {
  position: relative;
  display: block;
  /* background-color: #1877F2; */
}

.footer-menu-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 500;
}

.list:hover {
  font-weight: 800;
  color: #0c2668;
}

.adress-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  font-size: 11px;
  color: #202020;
  line-height: 1.5em;
  margin-left: 570px;
  margin-top: 110px;
}
.call {
  position: absolute;
  display: inline-block;
  /* background-color: #0c2668; */
  font-size: 50px;
  top: 43%;
  left: 58%;
  font-weight: 700;
}
.call-center {
  font-size: 20px;
  font-weight: 200;
}
.copy {
  position: relative;
  display: block;
  text-align: center;
  /* background-color: #0c2668; */
  margin-top: 45px;
}
