/* 하단 */
.footer {
  position: relative;
  display: block;
  background: url("../images/footer-bg.png") no-repeat center;
  background-size: cover;
  background-color: #0c2668;
  padding-bottom: 30px;
  line-height: 1.5;
}
.footer .inner {
  display: flex;
  align-items: center;
  padding-top: 100px;
  gap: 5%;
}
/* sns 아이콘 */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
.sns-icon {
  position: absolute;
  display: block;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #cd201f;
  color: #ffffff;
}

.footer-logo {
  display: block;
  height: 80px;
}
.footer-logo img {
  height: 100%;
}
.footer-center {
  width: 70%;
}
.footer-center-btm {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 11px;
}
.footer-menu-list {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  width: 100%;
  gap: 5%;
  margin-bottom: 30px;
}
.list:hover {
  font-weight: 800;
  color: #0c2668;
}
.adress {
  flex: 1;
}
.adress-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  color: #202020;
  line-height: 1.5em;
}
.call {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
}
.call-center {
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 200;
}

.copy {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 45px;
}
@media all and (max-width: 1024px) {
  .footer .inner {
    flex-wrap: wrap;
  }
  .footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-center {
    width: 100%;
  }
  .footer-menu-list {
    width: 100%;
    justify-content: center;
    gap: 2%;
    margin-bottom: 10px;
  }
  .address {
    display: none;
  }
  .footer-center-btm {
    justify-content: center;
    text-align: center;
  }
  .copy {
    font-size: 10px;
    margin-top: 10px;
  }
}
@media all and (max-width: 768px) {
  .footer .inner {
    padding-top: 60px;
  }
  .footer-menu-list {
    display: none;
  }
}
