/* header */
.header {
  position: relative;
  display: block;
  width: 100%;
  font-family: "twaysky";
  font-size: 15px;
  padding: 22px 0;
  z-index: 111;
}
.header .inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 모바일 햄버거 메뉴 */
.header .btn-mo-menu {
  display: none;
}
.header .btn-mo-menu .bar {
  display: block;
  width: 40px;
  height: 5px;
  background-color: #cdcdcd;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header .btn-mo-menu.active .bar {
  background-color: #000;
}
.header .btn-mo-menu.active .bar:nth-child(2) {
  opacity: 0;
}
.header .btn-mo-menu.active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.header .btn-mo-menu.active .bar:nth-child(3) {
  transform: translateY(-18px) rotate(-45deg);
}
/*로고 */
.header .header-logo {
  position: relative;
  height: 5.5rem;
}
.header .header-logo a {
}
.header .header-logo a img {
  height: 100%;
}
/* 메뉴리스트 */
.header .menu {
}
.header .menu-list {
  display: flex;
  gap: 0 35px;
}
.header .menu-list li {
}
.header .menu-list li a {
}
/* 로그인 메뉴리스트 */
.header .login {
}
.header .login-list {
  display: flex;
  gap: 0 20px;
}
.header .login-list li {
}
.header .login-list li a {
}
/* 모바일 로그인 버튼 */
.header .btn-mo-login {
  display: none;
  height: 4rem;
}
.header .btn-mo-login a {
}
.header .btn-mo-login a img {
  height: 100%;
}

/* 메뉴호버 */
.menu ul li {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

#hover li::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 3px solid #f8cb00;
  transition: all 250ms ease-out;
  left: 50%;
  width: 0;
}

#hover li:hover::after {
  transition: all 250ms ease-out;
  left: 0%;
  width: 100%;
}

@media all and (max-width: 1024px) {
  .header .btn-mo-menu,
  .header .btn-mo-login {
    display: block;
  }
  .header .btn-mo-menu {
    z-index: 111;
    position: relative;
  }

  .header .login {
    display: none;
  }
  .header .menu {
    position: fixed;
    left: 0;
    width: 50%;
    padding: 100px 30px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    height: 100%;
    left: -100%;
    transition: 0.5s;
  }
  .header .menu.active {
    left: 0;
  }
  .header .menu-list {
    display: block;
    line-height: 4;
    font-size: 20px;
  }
  .header .menu-list li a {
    color: #fff;
  }
}
@media all and (max-width: 768px) {
}
