/* 홍보 영상 */
/* 비디오 */
.promotion video {
  width: 100%;
  display: block;
  border-radius: 10px;
  margin-bottom: 5%;
  cursor: pointer;
}
.video h1 {
  font-family: "HANAMDAUM";
  text-align: center;
  /* font-size: 3vw; */
  font-size: 40px;
  font-weight: 600;
  /* margin-bottom: 10%; */
  margin-bottom: 40px;
}
ul.button {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}
.bt {
  width: 50%;
  line-height: 3;
  border: 3px solid #152a5e;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.bt:hover {
  background-color: #152a5e;
  transition: 0.3s;
}
.bt:hover a {
  color: #fff;
}

/* 반응형 */
@media all and (max-width: 1024px) {
  
}
@media all and (max-width: 768px) {
  .button {
    flex-direction: column;
  }
  .bt {
    width: 100%;
  }
  ul.button{
    width: 100%;
  }
  .video h1 {
    font-size: 5.9vw;
  }
}
