/* 홍보 영상 */
@font-face {
  font-family: "HANAMDAUM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.promotion {
  /* width: 100%; */
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
}
.promotion video {
  width: 100%;
  /* width: 1300px; */
  min-width: 390px;
  /* height: 730px; */
  margin: 0 auto;
  display: block;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}
.video h1 {
  font-family: "HANAMDAUM";
  font-size: 45px;
  font-weight: 600;
  margin-top: 180px;
  margin-bottom: 100px;
}
.button {
  display: flex;
  justify-content: center;
}
.bt {
  width: 21vw;
  min-width: 115px;
  height: 4.2vw;
  line-height: 4.2vw;
  border: 3px solid #152a5e;
  text-align: center;
  margin-bottom: 200px;
  font-size: 1vw;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
}

.bt:hover {
  background-color: #152a5e;
  transition: 0.3s;
}
.bt:hover a {
  color: #fff;
}
.bt1 {
  margin-right: 20px;
}
.bt2 {
  margin-left: 20px;
}
