/* 퀴즈 이벤트 */
.quizevent {
  background-color: #152a5e;
  margin: 0 auto;
  padding-bottom: 20%;
}
.quiz_dash_title {
  padding: 0 5%;
}
.quizevent .quiz_wrap {
  background-color: #fff8ce;
  padding-bottom: 10%;
}
.quizevent .inner img {
  width: 100%;
}
.quiz_contents .quiz_top {
  border: 6px solid #152a5e;
  background-color: #fff;
  border-radius: 50px;
  font-size: 1.2vw;
  padding: 1% 3%;
  font-weight: bold;
}
.quiz_contents {
  padding: 0 80px;
}
.quiz {
  background-color: #fff;
  border: 6px solid #152a5e;
  border-radius: 30px;
  padding: 5% 8%;
  font-size: 1.5vw;
  font-weight: 500;
  margin-top: 3%;
  line-height: 200%;
  text-align: center;
}
.quiz h1 {
  margin: 0 auto;
}
.quiz_multi {
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.quiz_multi li {
  background-color: #cedaf6;
  border-radius: 20px;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 4% 2%;
  font-size: 3vw;
  margin: 0 10px;
}
.quiz_info {
  padding: 0 80px;
  margin-top: 3%;
}
.quiz_info img {
  width: 100%;
}
.sp_first {
  font-weight: 900;
}
.sp_color {
  font-weight: 900;
  color: #e5606a;
}
