/* 떡 세트 추천 */
.recommend {
}
.recommend h2 {
  font-weight: bold;
  margin-bottom: 40px;
  font-family: "HANAMDAUM";
  font-size: 40px;
}
.recommend-slide .swiper {
  padding-bottom: 50px;
}
.good-box {
  position: relative;
  padding: 30px 10px;
  border-radius: 25px;
  background-color: #dce2f0;
  text-align: center;
  font-weight: bold;
}
.image {
  position: relative;
  width: 100%;
  /* padding-bottom: 100%; */
  padding-bottom: 75%;
}
.image::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  /* width: 90%; */
  height: 90%;
  width: 67%;
  /* height: 65%; */
  border-radius: 50%;
  background-color: #50586c;
}
.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%; */
  width: 73%;
  transition: ease-in 0.2s;
  z-index: 11;
}
.good-box p {
  position: relative;
  color: rgb(36, 40, 48);
  margin-bottom: 5px;
}
.good-box a {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 25px;
  color: #fff;
  background-color: #50586c;
  transition: all ease-in 0.1s;
}
.good-box:hover .image img {
  transform: translate(-50%, -50%) scale(1.05);
}
.good-box a:hover {
  background-color: #e0a13d;
}
.recommend .swiper-pagination-bullet-active {
  background-color: #50586c;
}

@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
  .recommend h2 {
    font-size: 5.9vw;
  }
}
