/* 떡 세트 추천 */
.recommend {
  position: relative;
  display: block;
  width: 100%;
  background-color: #fff;
}
.layout-wrap {
  position: relative;
  display: block;
}
.recommend h2 {
  position: relative;
  display: block;
  font-size: 1.563vw;
  font-weight: bold;
  padding-bottom: 1.875vw;
}
.recommend-slide {
  position: relative;
  display: block;
}
.good-box {
  position: relative;
  display: block;
  width: 14.999vw;
  height: 20.27vw;
  border-radius: 1.302vw;
  background-color: #dce2f0;
}
.round {
  position: absolute;
  display: block;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 9.856vw;
  height: 9.856vw;
  border-radius: 50%;
  background-color: #50586c;
}
.image img {
  position: absolute;
  display: block;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11.099vw;
  height: auto;
  transition: all ease-in 0.2s;
}
.good-box span {
  position: relative;
  display: block;
  top: 71%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  font-size: 1.094vw;
  font-weight: bold;
  color: rgb(36, 40, 48);
}
.good-box a {
  position: relative;
  display: block;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.771vw;
  height: 1.714vw;
  border-radius: 1.302vw;
  text-align: center;
  line-height: 1.714vw;
  font-size: 0.781vw;
  font-weight: bold;
  color: #fff;
  background-color: #50586c;
  transition: all ease-in 0.1s;
}
.good-box:hover .image img {
  width: 11.563vw;
}
.good-box a:hover {
  background-color: #e0a13d;
}
.swiper-pagination {
  position: relative;
  display: block;
  margin-top: 3.385vw;
}
.swiper-pagination span {
  width: 0.833vw;
  height: 0.833vw;
}
.slide-control {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3.376vw;
  margin-bottom: 8.75vw;
}
.slide-control span {
  position: relative;
  display: inline-block;
  width: 0.938vw;
  height: 0.938vw;
  margin: 0 0.521vw;
  border-radius: 50%;
  background-color: #d9d9d9;
}

@media all and (max-width: 1080px) {
}
@media all and (max-width: 960px) {
}
@media all and (max-width: 720px) {
}
@media all and (max-width: 480px) {
}

@media (max-width: 767px) {
  /* 모바일 */
}
@media (min-width: 768px) and (max-width: 991px) {
  /* 테블릿 세로 */
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* 테블릿 가로 */
}
@media (min-width: 1200px) {
  /* 데스크탑 일반 */
}
