/* 리뷰창 */
.review {
  position: relative;
  background-color: #0c2668;
}
.review-title{
  position: relative;
  color: #fff;
  font-family: "HANAMDAUM";
  font-size: 2.6042vw;
  text-align: center;
  margin-bottom: 30px;
}
.best-review-wrap {
  position: relative;
  display: flex;
  margin-bottom: 50px;
}
.best-review-wrap > img {
  position: relative;
  width: 50%;
}

/* 스크롤리뷰 */
.sw-review{margin-bottom: 50px;}
.sw-review img{width: 100%;}

/* 리뷰버튼 */
.review-btn {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* background-color: aqua; */
}
.review-btn button {
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  padding: 20px 0;
  width: 50%;
  color: #fff;
  font-weight: 800;
  max-width: 250px;
}
.review-btn button:hover {
  background-color: #fff;
  color: #0c2668;
}

@media all and (max-width: 1024px){
  
}
@media all and (max-width: 768px){
  .best-review-wrap{
    flex-wrap: wrap;
  }
  .best-review-wrap img{
    width: 100%;
  }
  .review-btn{
    flex-wrap: wrap;
  }
  .review-btn button{
    width: 100%;
  }
}