/* 리뷰창 */
.review {
  position: relative;
  display: block;
  background-color: #0c2668;
  width: 100%;
  height: 1500px;
}
.best-wrap {
  position: relative;
  display: block;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.best-wrap > img {
  position: relative;
  display: block;
  float: left;
  width: 50%;
}

/* 스크롤리뷰 */
.rolling_panel {
  position: absolute;
  width: 75%;
  height: 20.1389vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.rolling_panel ul {
  position: absolute;
  margin: 5px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
.rolling_panel ul li {
  float: left;
}

.rolling_panel > ul > li > img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* 리뷰버튼 */
.review-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  /* background-color: aqua; */
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}
.review-btn > button {
  background: none;
  border: 2px solid #fff;
  padding: 20px 10px;
  width: 230px;
  color: #fff;
}
.review-btn > button:hover {
  background-color: #fff;
  color: #0c2668;
  font-weight: 800;
}

/* 모바일반응형 */
@media all and (max-width: 1080px) {
  .review {
    position: relative;
    display: block;
    background-color: #0c2668;
    width: 100%;
    height: 80vh;
  }
  .best-wrap {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .best-wrap > img {
    position: relative;
    display: block;
    width: 50%;
  }

/* 리뷰버튼 */
.review-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
}
.review-btn > button {
  background: none;
  border: 2px solid #fff;
  padding: 20px 10px;
  width: 230px;
  color: #fff;
  margin-top: 20px;
}
.review-btn > button:hover {
  background-color: #fff;
  color: #0c2668;
  font-weight: 800;
}
/* 스크롤리뷰 */
.rolling_panel {
  position: absolute;
  width: 80%;
  height: 18.1389vw;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}


.rolling_panel ul {
  position: absolute;
  margin: 5px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
.rolling_panel ul li {
  position: relative;
  display: block;
  float: left;
}

.rolling_panel > ul > li > img {
  position: relative;
  display: block;
  width: 400px;
  height: 100%;
}
}
@media all and (max-width: 960px) {
  .review {
    position: relative;
    display: block;
    background-color: #0c2668;
    width: 100%;
    height: 80vh;
  }
  .best-wrap {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .best-wrap > img {
    position: relative;
    display: block;
    width: 50%;
  }

/* 리뷰버튼 */
.review-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
}
.review-btn > button {
  background: none;
  border: 2px solid #fff;
  padding: 20px 10px;
  width: 230px;
  color: #fff;
  margin-top: 20px;
}
.review-btn > button:hover {
  background-color: #fff;
  color: #0c2668;
  font-weight: 800;
}
/* 스크롤리뷰 */
.rolling_panel {
  position: absolute;
  width: 80%;
  height: 18.1389vw;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}


.rolling_panel ul {
  position: absolute;
  margin: 5px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
.rolling_panel ul li {
  position: relative;
  display: block;
  float: left;
}

.rolling_panel > ul > li > img {
  position: relative;
  display: block;
  width: 400px;
  height: 100%;
}
}
@media all and (max-width: 720px) {
  .review {
    position: relative;
    display: block;
    background-color: #0c2668;
    width: 100%;
    height: 100vh;
  }
  .best-wrap {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .best-wrap > img {
    position: relative;
    display: block;
    width: 50%;
  }

/* 리뷰버튼 */
.review-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
}
.review-btn > button {
  background: none;
  border: 2px solid #fff;
  padding: 20px 10px;
  width: 230px;
  color: #fff;
  margin-top: 20px;
}
.review-btn > button:hover {
  background-color: #fff;
  color: #0c2668;
  font-weight: 800;
}
/* 스크롤리뷰 */
.rolling_panel {
  position: absolute;
  width: 70%;
  height: 30vw;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.rolling_panel ul {
  position: absolute;
  margin: 5px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  width: 100px;
}
.rolling_panel ul li {
  position: relative;
  display: block;
  float: left;
}

.rolling_panel > ul > li > img {
  position: relative;
  display: block;
  width: 500px;
  height: 100%;
}

}

@media all and (max-width: 480px) {
  .review {
    position: relative;
    display: block;
    background-color: #0c2668;
    width: 100%;
    height: 1150px;
  }
  .best-wrap {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
  }
  .best-wrap > img {
    position: relative;
    display: block;
    width: 100%;
  }


  /* 스크롤리뷰 */
.rolling_panel {
  display: none;
}
.best-wrap{
  position: relative;
  display: block;
}
/* 리뷰버튼 */
.review-btn {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 70%;
}
.review-btn > button {
  background: none;
  border: 2px solid #fff;
  padding: 20px 10px;
  width: 230px;
  color: #fff;
  margin-top: 20px;
}
.review-btn > button:hover {
  background-color: #fff;
  color: #0c2668;
  font-weight: 800;
}
}