/* swiper */
.slide .swiper {
  width: 90%;
  height: 80%;
}
.slide .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide .swiper-pagination {
  visibility: hidden;
}

/* css*/
.slide {
  position: relative;
  display: block;
  margin-top: 300px;
  background-color: #0c2668;
  /* height: 1298px; */
  height: auto;
}
.goreview {
  position: absolute;
  display: block;
  width: 20%;
  padding: 15px 50px;
  background-color: #0c2668;
  border: 2px solid #0c2668;
  font-size: 15px;
  top: 60%;
  left: 67%;
  z-index: 2;
  color: #fff;
  font-weight: 500;
}
.goshopping {
  position: absolute;
  display: block;
  width: 20%;
  padding: 15px 50px;
  background: none;
  border: 2px solid #0c2668;
  font-size: 15px;
  top: 68%;
  left: 67%;
}
.swiper-pagination {
  position: absolute;
  display: block;
}
.mb01 {
  display: none;
}
.mb02 {
  display: none;
}
.mb03 {
  display: none;
}
.mb04 {
  display: none;
}
.pc01 {
  position: relative;
  display: block;
  border-radius: 30px;
}
.pc02 {
  position: relative;
  display: block;
  border-radius: 30px;
}
.pc03 {
  position: relative;
  display: block;
  border-radius: 30px;
}
.pc04 {
  position: relative;
  display: block;
  border-radius: 30px;
}

@media all and (max-width: 480px) {
  .pc01 {
    display: none;
  }
  .pc02 {
    display: none;
  }
  .pc03 {
    display: none;
  }
  .pc04 {
    display: none;
  }

  .mb01 {
    display: block;
    width: 100%;
  }
  .mb02 {
    display: block;
    width: 100%;
  }
  .mb03 {
    display: block;
    width: 100%;
  }
  .mb04 {
    display: block;
    width: 100%;
  }
  .swiper {
    width: 90%;
    height: 80%;
  }
  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* css*/
  .slide {
    position: relative;
    display: block;
    margin-top: 0px;
    background-color: #0c2668;
    /* height: 1000px; */
  }
  .goreview {
    position: absolute;
    display: block;
    width: 219px;
    padding: 10px 20px;
    background-color: #0c2668;
    border: 2px solid #0c2668;
    font-size: 12px;
    top: 78%;
    left: 25%;
    z-index: 2;
    color: #fff;
    font-weight: 700;
    height: 50px;
  }
  .goshopping {
    position: absolute;
    display: block;
    width: 219px;
    padding: 10px 20px;
    background: none;
    border: 2px solid #0c2668;
    font-size: 12px;
    top: 85.5%;
    left: 25%;
    z-index: 2;
    color: #0c2668;
    font-weight: 700;
    height: 50px;
  }
}
