/* 토퍼 무료 제작 이벤트 */
@font-face {
  font-family: "HANAMDAUM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
/* 전체 */
.topperevent {
  padding: 100px 0;
  background-color: #152a5e;
}
/* 배너 */
.topperevent_banner {
  width: 100%;
  background-color: #fff8ce;
  display: flex;
  justify-content: space-between;
  padding: 4% 13%;
  align-items: center;
}
.topper_txt h1 {
  font-size: 28px;
  font-family: "HANAMDAUM";
  color: #e5606a;
  font-weight: bold;
}
.topper_txt h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}
.topper_txt p {
  font-size: 15px;
  margin: 10px 0 20px 0;
  font-weight: 600;
  color: #727272;
}
.topper_txt button {
  padding: 3% 8%;
  background-color: #6b645f;
  border-radius: 10px;
  color: #ffff;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid black;
  cursor: pointer;
}
.topper_txt button:hover {
  background-color: #534e4a;
}
.topper_txt button:active {
  background-color: #6b645f;
}
.topper_txt span {
  font-size: 15px;
}
.topper_img {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}
.topper_item {
  width: 30%;
}
.topper_item img {
  width: 100%;
}

/* 반응형 */

@media all and (max-width: 1080px) {
}
@media all and (max-width: 960px) {
  .topperevent_banner {
    display: flex;
    flex-wrap: wrap;
  }
  .topper_txt {
    margin: 0 auto;
    text-align: center;
  }
  .topper_img {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-top: 3%;
  }
}
@media all and (max-width: 860px) {
}
@media all and (max-width: 480px) {
}
