/* 토퍼 무료 제작 이벤트 */
/* 전체 */
.topperevent {
  width: 100%;
  background-color: #0c2668;
}
/* 배너 */
.topperevent_banner {
  width: 100%;
  background-color: #fff8ce;
  display: flex;
  justify-content: space-between;
  padding: 4% 13%;
  align-items: center;
}
.topper_txt {
  width: 70%;
}
.topper_txt h1 {
  font-size: 1.5vw;
  font-family: "HANAMDAUM";
  color: #e5606a;
  font-weight: bold;
}
.topper_txt h2 {
  width: 100%;
  font-size: 1.0417vw;
  font-weight: bold;
  margin-top: 8px;
}
.topper_txt p {
  font-size: 0.7813vw;
  margin: 10px 0 20px 0;
  font-weight: 600;
  color: #727272;
}
.topper_txt button {
  padding: 0.5208vw 1.5625vw;
  background-color: #6b645f;
  border-radius: 0.5208vw;
  color: #ffff;
  font-weight: bold;
  font-size: 0.7vw;
  border: 1px solid black;
  cursor: pointer;
}
.topper_txt button:hover {
  background-color: #534e4a;
}
.topper_txt button:active {
  background-color: #6b645f;
}
.topper_txt span {
  font-size: 0.7813vw;
}
.topper_img {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
}
.topper_item {
  width: 30%;
}
.topper_item img {
  width: 100%;
}

/* 반응형 */

@media all and (max-width: 960px) {
  /* .topperevent_banner {
    display: flex;
    flex-wrap: wrap;
  }
  .topper_txt {
    margin: 0 auto;
  
  } */
  .topper_img {
    justify-content: right;
    margin: 0 auto;
    width: 60%;
    padding-top: 3%;
    /* display: none; */
  }
  .topper_txt p {
    display: none;
  }

  .topper_txt button {
    margin-top: 8px;
  }
}