@font-face {
font-family: "HANAMDAUM";
src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2")
    format("woff2");
font-weight: 400;
font-style: normal;
}
@font-face {
    font-family: 'twaysky';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 비주얼 */
.bg-wrap{
    position: relative;
    display: block;
}
.bg {
position: relative;
display: block;
background-color: #0c2668;
width: 100vw;
height: 0px;
margin-top: 700px;
z-index: 9;
}
/* .bg > video{
    position: absolute;
    width: 100%;
    top: -1000px;
} */
.birth {
    position: absolute;
    display: block;
    font-size: 600px;
    font-family: "Shrikhand", cursive;
    line-height: 0.9em;
    color: #b6b6b6;
    z-index: 9;
    top: -620px;
    left: 50%;
    transform: translateX(-50%);
}

/* 편지 봉투 */
.event-letter {
position: absolute;
left: 50%;
top: -650px;
transform: translateX(-50%);
width: 970px;
height: 630px;
z-index: 99;
}
/* 편지 bg */
.letter-bg {
position: absolute;
left: 0;
top: 0;
}

/* 편지지 */
.letter-paper-wrap {
position: absolute;
top: 120px;
left: 50%;
transform: translateX(-50%);
width: 100%;
height: 120%;
overflow: hidden;
}
.letter-paper-wrap-active {
z-index: 7 !important;
}

.letter-paper {
position: absolute;
top: 180px;
left: 50%;
transform: translateX(-50%);
transition: top 1s;
}
.letter-paper-active {
top: -58px !important;
}

/* 편지몸통 */
.letter-cover {
position: absolute;
left: 0;
top: 0;
z-index: 5;
}
.letter-cover-active {
z-index: 8 !important;
}

/* 편지날개 */
.letter-top {
z-index: 6;
position: absolute;
left: 0;
top: 351px;
transform-origin: 0 0;
transform: rotateX(0deg);
filter: brightness(1);
/* backface-visibility: hidden; */
transform-style: preserve-3d;
transition: filter 0.5s, transform 1s;
cursor: pointer;
}

.letter-top-active {
top: 351px !important;
transform-origin: 0 0 !important;
transform: rotateX(180deg) !important;
filter: brightness(0.85) !important;
}

/* 로고 */
.letter-logo {
z-index: 8;
position: absolute;
display: block;
width: 120px;
top: 80%;
left: 50%;
transform: translate(-50%, 50%);
z-index: 99999;
opacity: 1;
transition: opacity 0.5s;
}
.letter-logo-active {
z-index: 10;
opacity: 0;
}
/* click 아이콘 */
.letter-click {
z-index: 9;
position: absolute;
display: block;
top: 75%;
left: 50%;
transform: translate(-50%, -50%);
width: 60px;
opacity: 1;
transition: opacity 0.3s;
}
.letter-click-active {
opacity: 0 !important;
}
.letter-click-txt {
position: absolute;
display: inline-block;
top: 82%;
left: 50%;
transform: translateX(-50%);
z-index: 99999;
color: #fff;
font-size: 20px;
font-weight: 800;
opacity: 1;
transition: opacity 0.3s;
}
.letter-click-txt-active {
opacity: 0 !important;
}
/* ------------------------편지 봉투----------------- */
